<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzsun.pm.dao.PmApplicationCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzsun.pm.entity.PmApplicationCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="is_deleted" property="isDeleted" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="edit_time" property="editTime" />
    </resultMap>

</mapper>
