<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kq.mapper.TenantSequenceMapper">



    <select id="getTenantNextSeq">
        call tenant_nextval_proc(#{tenantId, mode=IN},#{seqName, mode=IN},#{nextSeq, jdbcType=BIGINT,mode=OUT});
    </select>

    <select id="getTenantNextSeqMap" parameterType="map" statementType="CALLABLE">
        call tenant_nextval_proc(#{tenantId, mode=IN},#{seqName, mode=IN},#{nextSeq, jdbcType=BIGINT,mode=OUT});
    </select>


    <select id="getTableSequence" resultType="com.kq.dto.TableSequence">
        SELECT tenant_id tenantId,seq_name seqName, current_val currentVal
        FROM tenant_sequence
        WHERE tenant_id=#{tenantId} AND seq_name=#{seqName} FOR update
    </select>

</mapper>
